$base-green: #11562C;
$base-pink: #E0ADAD;

@media(min-width:1400px) {
    .container {
        max-width: 1200px;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f7f0e9;
}

a {
    text-decoration: none;
}
