.herosection {
    padding: 50px 0 30px 0;
    min-height: calc(100vh - 229px);
    background-color: #f7f0e9;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('../img/pattern1.png');
        background-repeat: repeat;
        background-size: contain;
        opacity: 0.2;
    }
}

.herosection__logo {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto 30px;
    position: relative;
    z-index: 2;
}

.herosection__products {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.herosection__product {
    p {
        color: $base-pink;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    .imgwrap {
        height: 240px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

}

@media(max-width:1600.8px) {

    .herosection__logo {
        max-width: 440px;
    }

    .herosection__product p {
        margin-bottom: 10px;
    }

    .herosection {
        min-height: calc(100vh - 201px);
    }

}

@media(max-width:991.8px) {
    .herosection {
        min-height: calc(100vh - 80px);
    }

    .herosection__products {
        max-width: 460px;

        .col-lg-4 {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .herosection__product p {
        font-size: 18px;
    }
}

@media(max-width:575.8px) {
    .herosection__logo {
        max-width: 300px;
    }

    .herosection {
        min-height: calc(100vh - 70px);
        padding: 30px 0 20px;
    }

    .herosection__product .imgwrap {
        height: 200px;
    }

    .herosection__products {
        max-width: 300px;
    }

    .herosection__product p {
        font-size: 16px;
    }


}


