.categoriesmainsect {
    padding: 80px 0;

    h1 {
        color: $base-green;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 56px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 30px;
    }

    p {
        max-width: 330px;
        color: $base-green;
        font-size: 18px;
        line-height: 130%;
        font-weight: 500;
    }

    .textwrap {
        position: relative;
        padding-left: 50px;

        .logoimg {
            position: absolute;
            right: -40px;
            bottom: -30px;
            width: 185px;
        }
    }

    img {
        max-width: 100%;
    }
}

.twocolsect .twocolsect__categories {
    padding: 70px 0;

    .twocolsect__descrwrap  {
        padding-left: 40px;
    }

    .twocolsect__descrwrap .title {
        font-size: 60px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 40px;
    }

    .twocolsect__descrwrap p {
        font-weight: 500;
        text-align: left;
        font-size: 18px;
        max-width: 400px;
        margin: 0;
    }
}

.rdycat {
    padding: 70px 0;
    background: #afc7b9;

    .infowrap {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding: 50px 20px;
        position: relative;
        text-align: center;

        img {
            max-width: 600px;
        }

        .logotext {
            color: #11562C;
            font-size: 32px;
            font-weight: 500;
            display: inline-block;
            position: relative;
            padding-right: 40px;
            margin-top: 0;

            span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #11562C;
                font-size: 15px;
                position: absolute;
                right: 0;
                top: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
            }
        }

        p {
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: 70px;
            position: relative;
            z-index: 2;
            text-align: center;
            letter-spacing: 2px;
            margin: 0;
            line-height: 130%;
            margin-top: 80px;
        }

    }
}

@media(max-width:1199.8px) {

    .categoriesmainsect .textwrap .logoimg {
        display: none;
    }

    .categoriesmainsect p {
        max-width: 100%;
    }

}

@media(max-width:991.8px) {
    .categoriesmainsect {
        .col-lg-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }

    .categoriesmainsect .textwrap {
        padding-left: 0;
    }

    .categoriesmainsect {
        padding: 50px 0;
    }

    .categoriesmainsect h1 br {
        display: none;
    }

    .categoriesmainsect img {
        margin-top: 30px;
    }

    .twocolsect .twocolsect__categories {
        padding: 50px 0;
    }

    .twocolsect .twocolsect__categories .twocolsect__descrwrap .title {
        font-size: 50px;
    }

}

@media(max-width:767.8px) {

    .twocolsect__categories {
        .col-md-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }

    .twocolsect .twocolsect__categories .twocolsect__descrwrap {
        margin-bottom: 20px;

        .title {
            font-size: 46px;
            margin-bottom: 15px;
        }
    }

    .rdycat .infowrap p {
        font-size: 60px;
    }

    .twocolsect .twocolsect__categories .twocolsect__descrwrap {
        padding-left: 0;
    }
}

@media(max-width:575.8px) {
    .categoriesmainsect h1 {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .categoriesmainsect {
        padding: 30px 0;
    }

    .categoriesmainsect p {
        font-weight: 400;
        margin: 0;
    }

    .twocolsect .twocolsect__categories {
        padding: 0 0 30px 0;
    }

    .twocolsect .twocolsect__categories .twocolsect__descrwrap .title {
        font-size: 32px;
    }

    .rdycat {
        padding: 40px 0;

        .infowrap p {
            font-size: 44px;
        }
    }

    .rdycat .infowrap .logotext {
        font-size: 20px;
        margin-top: 10px;
        padding-right: 30px;

        span {
            width: 24px;
            height: 24px;
            font-size: 8px;
            line-height: 1;
            top: -5px;

        }
    }

    .rdycat .infowrap p {
        margin-top: 50px;
    }

}

